body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #d9cbf9;
  color: black;
  text-align: center;
}

h1 {
  color: purple;
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
  border-color: white;
}

.gameButtons > button{
  width: 125px;
  height: 125px;
  margin: 3px;
}

.hidden{
  display: none;
}

#button1 {
  background: lightgreen;
}

#button2 {
  background: lightblue;
}

#button3 {
  background: pink;
}

#button4 {
  background: lightyellow;
}

#button5 {
    background: #CBC3E3; /* light purple */
}

#button6 {
  background: #deaa88; /* light brown */
}

#button7 {
  background: #c0c0c0; /* light gray */
}

#button8 {
  background: #ffcc99; /* light orange */
}

#button9{
  background: #f7e98e; /* light gold */
}

#button1:active, #button1.lit {
  background: green;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3:active, #button3.lit {
  background: red;
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5:active, #button5.lit {
  background: purple;
}

#button6:active, #button6.lit {
  background: #8b4513; /* brown */
}

#button7:active, #button7.lit {
  background: gray;
}

#button8:active, #button8.lit {
  background: orange;
}

#button9:active, #button9.lit {
  background: goldenrod;
}